@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* For WebKit-based browsers */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1b192d;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background-color: #6e56f8;
  border-radius: 4px;
}

/* Customizing the width of scrollbar */
.scrollbar-w-2::-webkit-scrollbar {
  width: 2px;
}

/* Customizing the track background color */
.scrollbar-track-gray-100::-webkit-scrollbar-track {
  background-color: #f7fafc;
}

/* Customizing the thumb background color */
.scrollbar-thumb-blue-500::-webkit-scrollbar-thumb {
  background-color: #4299e1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px solid #0000001a;
  border-top-color: #627eea;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
